* {
    box-sizing: border-box;
    padding: 0;
}

.first_p {
    font-size: large;
    color: #fff;
    background-color: #000;
    padding: 10px 3px;
    text-align: left;
}

span {
    color: aqua;
}

.secound_p {
    background-color: blueviolet;
    color: #fff;
    font-style: italic;
    text-align: center;
    padding: 5px 0;
}


.third_p {
    background-color: darkturquoise;
    text-align: right;
    padding: 5px 0;
    text-decoration: underline;
}


.third_p a {
    color: #000;
}